{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header">
                Sign Up
            </div>
            <div class="card-body">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success">{{message}}</div>
                {% else %}
                <div class="alert alert-danger">{{message}}</div>
                {% endif %}
                {% endfor %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Register</button>
                    <a href="{% url 'buku' %}" class="btn btn-info">Home</a></li>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}