{% extends "main.html" %}
<!-- content -->
{% block content %}
<!-- Form -->
<div class="container">
    <div class="row g-3">
        <div class="col-md-6">
            <h2>

                {{ buku.judul }}
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-success">
                    {{ message }}
                    {% endif %}
                    {% endfor %}
            </h2>
            <form action="{% url 'ubah_buku' buku.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Submit</button>
                <a href="/" class="btn btn-danger">Home</a>
            </form>
        </div>
    </div>
</div>
<!-- EndForm -->

{% endblock content %}
<!-- EndContent -->